@font-face {
  font-family: RobotoSlab;
  src: url(../fonts/roboto-slab.regular.ttf);
}

@font-face {
  font-family: RobotoSlabLight;
  src: url(../fonts/roboto-slab.light.ttf);
}

@font-face {
  font-family: RobotoSlabThin;
  src: url(../fonts/roboto-slab.thin.ttf);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

h3 {
  font-size: 50px;
}

button {
  cursor: pointer;
}

button:active {
  transform: translate(0px, 3px);
  -webkit-transform: translate(0px, 3px);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1 ease-in-out;
}

.button_simple {
  width: 200px;
  height: 55px;
  border-style: none;
  border-radius: 15px;
  outline: none;
  color: #fff;
}

.button_form {
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input {
  height: 50px;
  border-radius: 5px;
  border: solid 1px #bebebe;
  outline: none;
  padding: 0 15px;
  font-family: 'Roboto';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input:focus {
  border: solid 1px #90d23d;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 19px;
}

.input::-webkit-input-placeholder {
  color: #bebebe;
  font-size: 19px;
  position: relative;
  top: 2px;
  font-weight: 300;
}

.input:-ms-input-placeholder {
  color: #bebebe;
  font-size: 19px;
  position: relative;
  top: 2px;
  font-weight: 300;
}

.input::-ms-input-placeholder {
  color: #bebebe;
  font-size: 19px;
  position: relative;
  top: 2px;
  font-weight: 300;
}

.input::placeholder {
  color: #bebebe;
  font-size: 19px;
  position: relative;
  top: 2px;
  font-weight: 300;
}

.container {
  width: 1030px;
  margin: 0 auto;
}

.navigation {
  background-color: #4b4d4f;
  padding: 37px 0px;
}

.navigation__elements {
  width: 1030px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo {
  background-repeat: no-repeat;
  width: 230px;
  height: 62px;
}

.navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

.navigation__link {
  text-transform: uppercase;
  padding: 30px 0 30px 40px;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  display: inline-block;
}

.welcome {
  margin-bottom: 140px;
}

.welcome__countdown {
  background-color: #4b4d4f;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
}

.welcome__timer {
  width: 830px;
  padding: 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: RobotoSlabThin;
  text-align: center;
}

.welcome__timer-main {
  height: 200px;
  width: 1030px;
  padding: 75px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timer {
  height: 200px;
  border: solid #90d23d 1px;
  border-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer__element {
  color: #fff;
  padding: 0px;
  margin: 0;
  width: 150px;
}

.timer__element:nth-child(1)::after {
  content: ':';
  font-size: 100px;
  display: inline-block;
  position: absolute;
  bottom: 55px;
  margin-left: 75px;
}

.timer__element:nth-child(3)::after {
  content: ':';
  font-size: 100px;
  display: inline-block;
  position: absolute;
  bottom: 55px;
  margin-left: 60px;
}

.timer__element:nth-child(5)::after {
  content: ':';
  font-size: 100px;
  display: inline-block;
  position: absolute;
  bottom: 55px;
  margin-left: 50px;
}

.timer__numbers {
  font-size: 120px;
}

.timer__letters {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
}

.welcome__people {
  background-image: url("../img/welcome__img.png");
  height: 245px;
  width: 693px;
  position: relative;
  top: 30px;
  right: 55px;
}

.welcome__message-inner {
  position: relative;
}

.welcome__text {
  width: 530px;
  padding: 40px 35px 0 0;
}

.text__headline {
  font-size: 54px;
  color: #252525;
  margin: 0;
}

.text__text {
  margin-top: 12px;
  font-weight: 300;
  color: #242424;
  line-height: 17px;
}

.welcome__signup {
  width: 430px;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  right: 0px;
  top: -230px;
  -webkit-box-shadow: 0px 1px 1px 0px #949293;
  box-shadow: 0px 1px 1px 0px #949293;
}

.signup {
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.signup__headline {
  font-size: 30px;
  text-align: center;
  color: #252525;
  margin: 20px 0 20px 0;
}

.signup__input {
  width: 370px;
  margin-bottom: 20px;
}

.signup__button {
  height: 58px;
  width: 370px;
  background-color: #90d23d;
}

.signup__ad {
  margin: 0;
  text-align: center;
  color: #b0b0b0;
  font-weight: 300;
}

.day-activities__topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.day-activities__topic {
  width: 310px;
  margin-bottom: 100px;
}

.community__img {
  width: 200px;
  height: 210px;
  background-image: url("/img/community__img.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}

.community__heading {
  color: #242424;
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
}

.community__text {
  color: #777777;
  text-align: center;
  font-weight: 300;
  margin: 0;
}

.talk-shop__img {
  width: 200px;
  height: 210px;
  background-image: url("/img/talk-shop__img.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}

.talk-shop__heading {
  color: #242424;
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
}

.talk-shop__text {
  color: #777777;
  text-align: center;
  font-weight: 300;
  margin: 0;
}

.war-stories__img {
  width: 200px;
  height: 210px;
  background-image: url("/img/war-stories__img.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}

.war-stories__heading {
  color: #242424;
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
}

.war-stories__text {
  color: #777777;
  text-align: center;
  font-weight: 300;
  margin: 0;
}

.table {
  margin-bottom: 30px;
}

.table__item {
  color: #fff;
  font-size: 22px;
  padding: 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table__item:nth-child(2n+2) {
  background-color: #373737;
}

.table__item:nth-child(2n+1) {
  background-color: #4b4d4f;
}

.table__item:nth-child(n+5) {
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.table__time {
  width: 130px;
  padding-top: 4px;
}

.table__event {
  width: 534px;
  padding-top: 4px;
}

.table__add {
  width: 33px;
  height: 33px;
  background-image: url("../img/button_add.png");
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  background-repeat: no-repeat;
  outline: none;
  padding: 0 22px;
}

.head {
  background-color: #a3cc40;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  padding: 23px 45px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.head__time {
  margin-left: 30px;
}

.head__event {
  margin-left: 139px;
}

.day-activities__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.day-activities__text {
  font-weight: 300;
  text-align: center;
  width: 830px;
  padding-bottom: 100px;
}

.elite {
  background-color: #4b4d4f;
  padding: 170px 0;
  -webkit-clip-path: polygon(0 18%, 100% 0%, 100% 82%, 0% 100%);
  clip-path: polygon(0 18%, 100% 0%, 100% 82%, 0% 100%);
  margin-bottom: 120px;
}

.elite__logo {
  position: relative;
}

.elite__logo-img {
  width: 355px;
  height: 355px;
  background-image: url("../img/elite__img.png");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: -30px;
}

.elite__reward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.elite__message {
  width: 700px;
  text-align: right;
  color: #fff;
}

.elite__heading {
  margin-top: 0;
}

.elite__message {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.elite__button {
  margin-top: 20px;
  background-color: #90d23d;
  font-size: 18px;
}

.speakers {
  margin-bottom: 100px;
}

.speakers__heading {
  margin: 25px 0;
}

.speakers__text-main {
  width: 600px;
  margin-bottom: 60px;
}

.speakers__text-par {
  font-weight: 300;
  margin: 0;
}

.speakers__cards {
  width: 986px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.speakers__card {
  width: 300px;
  height: 300px;
  background-color: #90d23d;
  border-radius: 20px;
  margin-bottom: 40px;
  position: relative;
}

.speakers__card:hover {
  background-image: url("../img/bg__pattern.png");
  background-color: #46c309;
}

.speakers__card:nth-child(5) {
  background-image: url("../img/speakers__img.png");
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}

.speakers__card:hover .card__content {
  display: block;
  cursor: pointer;
}

.card__content {
  color: #fff;
  padding: 30px 35px;
  display: none;
}

.card__heading {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
}

.card__text {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 600;
}

.card__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  cursor: pointer;
}

.card__link {
  width: 32px;
  height: 32px;
  background-image: url("../img/button__speakers_sprite.png");
  background-repeat: no-repeat;
  padding: 0;
  margin-right: 10px;
  border-radius: 50px;
}

.card__link:hover, .card__link:active {
  -webkit-box-shadow: 0px 0px 33px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 33px -2px rgba(0, 0, 0, 0.75);
}

.card__fb {
  background-position: 1px 0;
}

.card__tw {
  background-position: -37px 0;
}

.card__be {
  background-position: -78px 0;
}

.card__sm {
  background-position: -116px 0;
}

.sponsors {
  background-color: #4b4d4f;
  color: #fff;
  padding: 110px 0 120px 0;
  margin-bottom: 100px;
  -webkit-clip-path: polygon(0 18%, 100% 0%, 100% 82%, 0% 100%);
  clip-path: polygon(0 18%, 100% 0%, 100% 82%, 0% 100%);
}

.sponsors__main {
  text-align: center;
  margin: 0 auto;
}

.sponsors__heading {
  margin-bottom: 30px;
}

.sponsors__text {
  font-weight: 300;
  line-height: 18px;
  width: 630px;
  margin: 0 auto;
}

.sponsors__companies {
  width: 600px;
  height: 76px;
  margin: 50px auto 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sponsors__company {
  background-image: url("../img/sponsors__logo_sprite.png");
  background-repeat: no-repeat;
}

.sponsors__company-1 {
  width: 178px;
  height: 69px;
}

.sponsors__company-2 {
  background-position: -255px 0;
  width: 95px;
  height: 75px;
}

.sponsors__company-3 {
  background-position: -425px 0;
  width: 153px;
  height: 58px;
}

.sponsors__button {
  background-color: #90d23d;
  font-size: 22px;
}

.past-events__container {
  width: 1170px;
  margin-bottom: 93px;
}

.past-events__message {
  width: 930px;
  margin: 0 auto 100px auto;
}

.past-events__heading {
  margin-bottom: 30px;
}

.past-events__text {
  width: 600px;
  font-weight: 300;
}

.past-events__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 95px;
}

.past-events__img-1 {
  width: 600px;
  height: 415px;
  background-color: #3d6ed2;
}

.past-events__img-2 {
  width: 570px;
  height: 415px;
  background-color: #90d23d;
}

.past-events__img-3 {
  width: 500px;
  height: 365px;
  background-color: #ff9d00;
}

.past-events__img-4 {
  width: 670px;
  height: 365px;
  background-color: #e0652a;
}

.past-events__viewMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.past-events__button {
  background-color: #373737;
  font-size: 22px;
}

.contacts {
  padding: 66px 0;
}

.container__contacts {
  width: 1170px;
}

.contacts {
  background-image: url("../img/bg__map.jpg");
  background-size: cover;
}

.contacts__main {
  width: 970px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 70px;
  margin: 0 auto;
}

.contacts__adress {
  margin: 30px 40px 40px 40px;
}

.contacts__logo {
  background-image: url("../img/contacts__img.png");
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__text {
  width: 270px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.contacts__button {
  background-color: #90d23d;
  font-size: 22px;
  margin-left: 33px;
  margin-top: 10px;
}

.contacts__send-message {
  width: 400px;
}

.contacts__input {
  width: 400px;
  margin-bottom: 28px;
}

.contacts__textArea {
  width: 400px;
  height: 253px;
  margin-bottom: 28px;
  border-radius: 5px;
  border: solid 1px #bebebe;
  outline: none;
  padding: 15px;
  font-family: 'Roboto';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
}

.contacts__textArea:focus {
  border: solid 1px #90d23d;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 19px;
}

.contacts__textArea::-webkit-input-placeholder {
  color: #bebebe;
  font-size: 19px;
  position: relative;
  top: 2px;
  font-weight: 300;
}

.contacts__textArea:-ms-input-placeholder {
  color: #bebebe;
  font-size: 19px;
  position: relative;
  top: 2px;
  font-weight: 300;
}

.contacts__textArea::-ms-input-placeholder {
  color: #bebebe;
  font-size: 19px;
  position: relative;
  top: 2px;
  font-weight: 300;
}

.contacts__textArea::placeholder {
  color: #bebebe;
  font-size: 19px;
  position: relative;
  top: 2px;
  font-weight: 300;
}

.contacts__button_form {
  width: 400px;
  height: 61px;
  background-color: #373737;
  font-size: 22px;
  margin: 0;
}

.social {
  background-color: #90d23d;
  padding: 60px 0 45px 0;
}

.social__text {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.social__text-p {
  margin: 0;
}

.social__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  cursor: pointer;
}

.social__link {
  background-image: url("../img/button_social_sprite.png");
  height: 46px;
  width: 46px;
  background-repeat: no-repeat;
  padding: 0;
  margin-right: 10px;
  border-radius: 50px;
}

.social__link:hover, .social__link:active {
  -webkit-box-shadow: 0px 0px 33px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 33px -2px rgba(0, 0, 0, 0.75);
}

.social__fb {
  background-position: -3px 0;
}

.social__tw {
  background-position: -64px 0;
}

.social__li {
  background-position: -124px 0;
}

.social__gp {
  background-position: -184px 0;
}

.social__tu {
  background-position: -244px 0;
}

.social__link-top {
  width: 31px;
  height: 19px;
  background-image: url("../img/button_up.png");
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.social__link-top-main {
  position: relative;
  right: -80px;
  bottom: 60px;
}
/*# sourceMappingURL=main.css.map */