
.navigation {
    background-color: $gray;
    padding: 37px 0px;
}

.navigation__elements{
    width: 1030px;
    // height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation__logo{
    background-repeat: no-repeat;
    width: 230px;
    height: 62px;
}

.navigation__links {
    display: flex;
    flex-direction: row; 
    list-style-type: none;
}

.navigation__link {
    text-transform: uppercase;
    padding: 30px 0 30px 40px;
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    display: inline-block;
}

.welcome {
    margin-bottom: 140px;

}

.welcome__countdown {
    background-color: $gray;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
}

.welcome__timer {
    width: 830px;
    padding: 0 70px;
    display: flex;
    font-family: RobotoSlabThin;
    text-align: center;

    &-main {
        height: 200px;
        width: 1030px;
        padding: 75px 0px;
        display: flex;
        justify-content: center;
    }
}

.timer {
    height: 200px;
    border: solid $green 1px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__element{
        color: #fff;
        padding: 0px;
        margin: 0;
        width: 150px;
        
        &:nth-child(1){

            &::after{
                content: ':';
                font-size: 100px;
                display: inline-block;
                position: absolute;
                bottom: 55px;
                margin-left: 75px; 
            }

        }

        &:nth-child(3){

            &::after{
                content: ':';
                font-size: 100px;
                display: inline-block;
                position: absolute;
                bottom: 55px;
                margin-left: 60px; 
            }

        }

        &:nth-child(5){

            &::after{
                content: ':';
                font-size: 100px;
                display: inline-block;
                position: absolute;
                bottom: 55px;
                margin-left: 50px; 
            }

        }

    }

    &__numbers{
        font-size: 120px;
    }

    &__letters{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 25px;
    }

}

.welcome__people {
    background-image: url('../img/welcome__img.png');
    height: 245px;
    width: 693px;
    position: relative;
    top: 30px;
    right: 55px;
}

.welcome__message {

    &-inner {
        position: relative;
    }
}


.welcome__text {
    width: 530px;
    padding: 40px 35px 0 0;
}

.text {

    &__headline {
        font-size: 54px;
        color: #252525;
        margin: 0;
    }

    &__text {
        margin-top: 12px;
        font-weight: 300;
        color: #242424;
        line-height: 17px;
    }
}

.welcome__signup {
    width: 430px;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    right: 0px;
    top: -230px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(148,146,147,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(148,146,147,1);
    box-shadow: 0px 1px 1px 0px rgba(148,146,147,1);
}

.signup {

    width: 430px;
    display: flex;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    

    &__headline {
        font-size: 30px;
        text-align: center;
        color: #252525;
        margin: 20px 0 20px 0;
    }

    &__input {
        width: 370px;
        margin-bottom: 20px;
    }

    &__button {
        height: 58px;
        width: 370px;
        background-color: #90d23d;
    }

    &__ad{
        margin: 0;
        text-align: center;
        color: #b0b0b0;
        font-weight: 300;

    }
}

