.navigation {
    background-color: $gray;
    padding: 37px 51px 37px 70px;
}

.navigation__elements{
    width: 1020px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation__logo{
    background-image: url('../img/logo__img.png');
    width: 230px;
    height: 62px;
    display: inline-block;
}

.navigation__links {
    display: flex;
    flex-direction: row; 
}

.navigation__link {
    text-transform: uppercase;
    padding: 30px 0 30px 40px;
    font-weight: 300;
    font-size: 15px;
}

.welcome__countdown {
    height: 650px;
    background-color: $gray;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
}

.welcome__timer {
    width: 830px;
    padding: 0 70px;
    display: flex;
    font-family: RobotoSlabThin;
    text-align: center;

    &-main {
        height: 200px;
        width: 1030px;
        padding: 75px 0px;
        display: flex;
        justify-content: center;
    }
}

.timer {
    height: 200px;
    border: solid $green 1px;
    border-radius: 20px;
    position: relative;

    &__element{
        color: #fff;
        padding: 0 30px;
        width: 200px;
        height: 200px;
        
        &:nth-child(-n+5){

            &::after{
                content: ':';
                font-size: 100px;
                display: inline-block;
                position: absolute;
                bottom: 55px;
                margin-left: 60px; 
            }

        }

    }

    &__numbers{
        font-size: 120px;
        
    }

    &__letters{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        margin-top: 0;
    }

}

.welcome__people {
    background-image: url('../img/welcome__img.png');
    height: 245px;
    width: 693px;
    position: relative;
    top: 90px;
    right: 55px;
}

.welcome__message {
    display: flex;
    justify-content: space-between;
    margin: 0 70px;

    &-inner {
        position: relative;
    }
}


.welcome__text {
    width: 530px;
    padding: 40px 35px 0 0;
}

.text {

    &__headline {
        font-size: 54px;
        color: #252525;
        margin: 0;
    }

    &__text {
        margin-top: 12px;
        font-weight: 300;
        color: #242424;
        line-height: 17px;
    }
}

.welcome__signup {
    height: 530px;
    width: 430px;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    right: 0px;
    top: -230px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(148,146,147,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(148,146,147,1);
    box-shadow: 0px 1px 1px 0px rgba(148,146,147,1);
}

.signup {

    display: flex;
    justify-content: center;
    

    &__headline {
        font-size: 30px;
        padding-top: 10px;
        text-align: center;
        color: #252525;
        margin: 20px 0 20px 0;
    }

    &__input {
        height: 50px;
        width: 355px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: solid 1px #bebebe;
        outline: none;
        padding-left: 15px;
        font-family: 'Roboto';

        &:focus {
            border: solid 1px #90d23d;
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 19px;
        }

        &::placeholder {
            color: #bebebe;
            font-size: 19px;
            position: relative;
            top: 2px;
            font-weight: 300;
        }
    }

    &__button {
        height: 58px;
        width: 370px;
        margin: 20px 0 20px 0;
        // margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        background-color: #90d23d;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        outline: none;
    }

    &__ad{
        margin-top: 0;
        text-align: center;
        color: #b0b0b0;
        font-weight: 300;

    }
}