body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    width: 1170px;
    margin: 0 auto;
}