@font-face {
    font-family: RobotoSlab;
    src: url(../fonts/roboto-slab.regular.ttf);
}

@font-face {
    font-family: RobotoSlabLight;
    src: url(../fonts/roboto-slab.light.ttf);
}

@font-face {
    font-family: RobotoSlabThin;
    src: url(../fonts/roboto-slab.thin.ttf);
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

h3 {
    font-size: 50px;
}

button {
    cursor: pointer;
}

.button_simple {
    width: 200px;
    height: 55px;
    border-style: none;
    border-radius: 15px;
    outline: none;
    color: #fff;
}

.button_form {
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}

.input {
    height: 50px;
    border-radius: 5px;
    border: solid 1px #bebebe;
    outline: none;
    padding: 0 15px;
    font-family: 'Roboto';
    box-sizing: border-box;

    &:focus {
        border: solid 1px #90d23d;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 19px;
    }

    &::placeholder {
        color: #bebebe;
        font-size: 19px;
        position: relative;
        top: 2px;
        font-weight: 300;
    }
}

.container {
    width: 1030px;
    margin: 0 auto;
}
